/* navbar */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar-slide-down-logo {
  animation: slideDown 0.5s ease-out forwards;
}

.navbar-slide-down-menu1 {
  animation: slideDown 0.8s ease-out forwards;
}

.navbar-slide-down-menu2 {
  animation: slideDown 1.2s ease-out forwards;
}

.navbar-slide-down-menu3 {
  animation: slideDown 1.5s ease-out forwards;
}

.navbar-slide-down-menu4 {
  animation: slideDown 1.8s ease-out forwards;
}

/* showcase */
/* Add animation for the section */
.animate-section {
  opacity: 0;
  transform: translateY(100px);
  animation: slide-up 0.5s ease-out forwards;
}

.animate-section2 {
  opacity: 0;
  transform: translateY(100px);
  animation: slide-up 0.9s ease-out forwards;
}

.animate-section3 {
  opacity: 0;
  transform: translateY(100px);
  animation: slide-up 1.3s ease-out forwards;
}

.animate-section4 {
  opacity: 0;
  transform: translateY(100px);
  animation: slide-up 1.5s ease-out forwards;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
