/* navbar */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar-slide-down-logo {
  animation: slideDown 0.5s ease-out forwards;
}

.navbar-slide-down-menu1 {
  animation: slideDown 0.8s ease-out forwards;
}

.navbar-slide-down-menu2 {
  animation: slideDown 1.2s ease-out forwards;
}

.navbar-slide-down-menu3 {
  animation: slideDown 1.5s ease-out forwards;
}

.navbar-slide-down-menu4 {
  animation: slideDown 1.8s ease-out forwards;
}

/* showcase */
/* Add animation for the section */
