.h-primary-color {
  color: #002c57 !important;
}

.p-text-muted {
  color: #5c7185 !important;
}

.a-link {
  color: #899eb2 !important;
}

.color-white {
  color: #fff !important;
}

.project-work {
  color: #cbd2db !important;
}

.primaryBtnNav {
  padding: 14px 20px !important;
  background: #0073e6 !important;
  color: #fff !important;
  border-radius: 16px !important;
  border: 1px solid #0073e6 !important;
  font-size: 16px !important;
  font-weight: 600;
  transition: ease-in-out 0.4s;
}

.primaryBtnNav:hover {
  background: #0b5ed7 !important;
}

.primaryBtn {
  padding: 20px 32px !important;
  background: #0073e6 !important;
  color: #fff !important;
  border-radius: 16px !important;
  border: 1px solid #0073e6 !important;
  font-size: 16px !important;
  font-weight: 600;
  transition: ease-in-out 0.4s;
}

.primaryBtn:hover {
  background: #0b5ed7 !important;
}

.secondaryBtn {
  padding: 20px 32px !important;
  background: transparent !important;
  color: #002c57 !important;
  border-radius: 16px !important;
  border: 1px solid #dee3e9 !important;
  font-size: 16px !important;
  font-weight: 600;
  transition: ease-in-out 0.4s;
}

.secondaryBtn:hover {
  background: #eceff3 !important;
}

.viewWorkSecondaryBtn {
  padding: 16px 20px 16px 24px !important;
  background: transparent !important;
  color: #002c57 !important;
  border-radius: 16px !important;
  border: 1px solid #dee3e9 !important;
  font-size: 16px !important;
  font-weight: 600;
  transition: ease-in-out 0.4s;
}

.viewWorkSecondaryBtn:hover {
  background: #eceff3 !important;
}

/* Scroll to Top Button */
.scroll-to-top-container {
  position: fixed; /* Fixes it to the viewport */
  bottom: 50px; /* Distance from the bottom */
  right: 40px; /* Distance from the right */
  text-decoration: none !important;
  z-index: 1000; /* Ensures it stays on top */
}

.scroll-to-top {
  height: 56px !important;
  width: 56px !important;
  background: #002c57 !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

/* Hide the button when at the top */
.scroll-to-top-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.scroll-to-top-container:hover {
  color: #fff !important;
}

.scroll-to-top-container div:hover {
  color: #fff !important;
}

.scroll-to-top-container i:hover {
  color: #fff !important;
}

.scroll-to-top:hover {
  color: #fff !important;
  transform: scale(1.1);
}

.project-work-title-card i:hover {
  color: #5c7185 !important;
}

.project-work-title-card a:hover {
  color: #5c7185 !important;
}
