* {
  font-family: "Lato" sans-serif;
}

/* Apply to all elements */
* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 transparent; /* For Firefox */
}

/* For WebKit browsers like Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1px;
  height: 1px; /* For horizontal scrollbar */
}

*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px; /* Optional: Makes the scrollbar thumb rounded */
}

*::-webkit-scrollbar-track {
  background: transparent; /* Optional: Background of the scrollbar track */
}

body {
  background: #fff !important;
}

.navbar-container {
  padding: 16px 40px;
}

.contactBtn {
  border-radius: 16px;
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 600;
  /* height: 48px !important; */
}

.custom-border-outline:hover {
  color: #fff !important;
}

/* navbar */
.sidebar {
  position: fixed;
  right: -100vw; /* Hide sidebar off-screen */
  top: 0;
  width: 100vw;
  height: 100%;
  background: transparent !important;
  transition: right 0.3s ease;
  z-index: 200;
  display: none !important;
}
.sidebar.active {
  right: 0; /* Show sidebar */
}

.nav-link:hover {
  color: #333 !important;
}

/* .showcase-container-first {
  margin-top: -10rem;
} */

/* .showcase-section {
  overflow: hidden !important;
  padding: 0 30px !important;
} */

.project-section {
  padding-left: 24px;
  padding-right: 24px;
  overflow: hidden !important;
}

.container-90 {
  width: 100%;
  margin: 0 auto;
}

/* about */
.about-section {
  background: #f2f4f8 !important;
}

/* footer */
.footer-rights {
  margin-left: 0px !important;
}

/* neww update 3-8-25 */
/* custom paddings */
.custom-padding-p {
  padding: 0 10rem;
}

.custom-padding-project-p {
  padding: 0 20rem;
}

/* Hero Section */
.hero-section {
  padding: 0 30px;
}

/* Hero Container */
.hero-container {
  min-height: 90vh !important;
  background: linear-gradient(to bottom, #edf1f6 15%, #ffffff 40%);
  border-radius: 48px;
  position: relative;
}

.hero-custom-padding {
  width: 70% !important;
}

/* Hero Icons */
.hero-icons {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-icon {
  display: inline-block;
  max-width: 80px;
  position: absolute;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* Positioning Hero Icons */
.hero-icon-1 {
  left: 10%;
  top: 18%;
  transform: translateY(-50%);
}

.hero-icon-2 {
  right: 10%;
  top: 18%;
  transform: translateY(-50%);
}

.hero-icon-3 {
  left: 20%;
  top: 58%;
  transform: translateX(-50%);
}

.hero-icon-4 {
  right: 20%;
  top: 58%;
  transform: translateX(50%);
}

/* Hoverable Text */
.hoverable-text {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.hoverable-text:hover {
  color: #1f75fe; /* Light blue hover */
}

.hoverable-text.active {
  font-weight: 700;
  color: #0047ab !important; /* Deep blue when active */
}

.hero-btn {
  padding: 22px 32px;
}

/* footer2  */
.footer-container {
  min-height: 580px !important;
}

.rounded-4 {
  border-radius: 1rem !important;
}

/* Optional hover effects for social icons */
.bx {
  transition: color 0.3s ease;
}

.bx:hover {
  color: #0d6efd !important;
}

.custom-padding-footer-p {
  max-width: 764px !important;
}

.footer-link:hover {
  color: black !important;
}

.project-card {
  padding: 0 150px !important;
}

.responsive-h {
  color: #00274d !important;
  font-weight: 600 !important;
}

.responsive-h-title {
  color: #00274d !important;
  font-weight: 600 !important;
}

/* works */

.work-container {
  min-height: 200vh !important;
  background: linear-gradient(to bottom, #edf1f6 20%, #ffffff 40%);
  border-radius: 48px;
  position: relative;
}

.work-showcase-container {
  padding: 80px 240px !important;
}

.work-h {
  color: #000 !important;
}

.work-p {
  font-size: 20px !important;
  line-height: 32px !important;
}

.work-a:hover {
  color: #333 !important;
}

.work-a i:hover {
  color: #333 !important;
}

.work-showcase-container2 {
  min-height: 80vh !important;
  /* width: 100%; */
  padding: 80px 240px !important;
}

/* Defaults */
.btnHover {
  border: 1px solid #afb5bd !important;
  color: #002345 !important;
}

.btnHover:hover {
  background: #e1e4e8 !important;
  color: #002345 !important;
}

.btnHover i {
  color: #002345 !important;
}

.btnHover i:hover {
  color: #002345 !important;
}

/* update 3-19-25 */
/* selected-works-container */
.selected-works-section {
  width: 100% !important;
  min-height: 100vh;
  padding: 80px 0 !important;
  overflow: hidden !important;
}

.selected-works-container {
  width: 1136px !important;
}

.work-container-cards {
  margin-bottom: 260px;
}

.work-img-container:nth-child(1) {
  width: 528px;
  min-height: 460px;
  margin-right: 80px;
  border-radius: 48px;
  padding: 10px;
}

.work-img-container:nth-child(1) {
  background: #e8e8e8;
}

.work-img-container:nth-child(2) {
  width: 528px;
  min-height: 460px;
  margin-left: 80px;
  border-radius: 48px;
  padding: 10px;
}

.work-img-container:nth-child(2) {
  background: #eff6fc;
}

.work-img-container3 {
  width: 528px;
  min-height: 460px;
  margin-right: 80px;
  border-radius: 48px;
  background: #e2f1de !important;
}

.work-img-container3 img {
  border-radius: 48px;
}

.work-text-container {
  height: 368px;
  width: 528px;
  padding: 32px 0;
}

/* works */

.project-work-overview {
  padding: 40px;
  border-radius: 24px;
}

/* Project2 Component Styles */

.project-section {
  margin-top: 80px;
  padding: 0 24px;
}

.hero-container {
  padding: 80px 164px;
}

.project-work-card {
  width: 1136px;
}

.project-work-title-card {
  width: 882px;
  margin-bottom: 80px;
}

.project-work-img-container {
  margin-bottom: 80px;
  max-height: 850px;
}

.project-work-overview {
  padding: 40px;
  border-radius: 24px;
}

.project-work-documentation {
  padding: 80px 0;
}

.project-work-goal {
  width: 976px;
  margin-bottom: 80px;
}

.project-work-goal-title {
  width: 296px;
}

.project-work-goal-p {
  width: 592px;
}

.project-work-hero-img {
  width: 1176px;
  margin-bottom: 80px;
}

.project-work-requirements-container {
  width: 1176px;
  margin-bottom: 80px;
  background: #002c57;
  padding: 80px 80px;
  border-radius: 48px;
}

.project-work-requirements {
  width: 976px;
  color: #fff !important;
  margin-bottom: 120px;
}

.project-work-requirements-title {
  width: 215px;
}

.project-work-requirements-p {
  width: 592px;
}

.project-work-requirements-p p {
  font-size: 16px;
  font-size: 400;
  line-height: 24px;
  color: #cbd2db !important;
}

.defining-container {
  margin-bottom: 60px;
}

.defining-card-container {
  gap: 8px;
}

.defining-card {
  border-radius: 16px;
  background: #003366;
  padding: 32px 32px;
}

.defining-card h6 {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: start;
  font-weight: 600;
}

.defining-card h6:nth-child(2) {
  line-height: 32px;
}

.defining-card p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: start;
}

.project-work-solutions {
  width: 976px;
  color: #fff !important;
}

.project-work-solutions-title {
  width: 215px;
}

.solutions-container {
  margin-bottom: 60px;
}

.project-solutions-requirements-p {
  width: 592px;
}

.solutions-card-container {
  gap: 8px;
}

.solutions-card {
  border-radius: 16px;
  background: #ffffff;
  padding: 32px 32px;
}

.solutions-card h6 {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: start;
  font-weight: 600;
  color: #002c57 !important;
}

.solutions-card h6:nth-child(2) {
  line-height: 32px;
}

.solutions-card p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: start;
}

.project-work-implement {
  width: 1176px;
  margin-bottom: 80px;
}

.project-work-show-container {
  width: 976px;
}

.project-work-show {
  width: 100%;
  margin-bottom: 80px;
}

.project-work-show-title {
  width: 296px;
}

.project-work-show-p {
  width: 592px;
}

.project-work-show-img p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}

.project-work-show-img img {
  border-radius: 16px;
}

.works-showcase-before-1 {
  margin-bottom: 40px;
}

.works-showcase-after-1 {
  margin-bottom: 80px;
}

.works-showcase-cms-1 {
  margin-bottom: 80px;
}

.works-showcase-before-3 {
  gap: 24px;
}

.works-showcase-before-3 {
  margin-bottom: 80px;
}

.project-work-demo {
  width: 1136px;
  background: #f2f4f7;
  padding-top: 80px;
  padding-left: 80px;
  padding-bottom: 80px;
  padding-right: 0px;
  gap: 100px;
  border-radius: 48px;
  margin-bottom: 80px;
}

.project-work-demo-title {
  width: 256px;
}

.project-work-demo-title h6 {
  font-size: 48px;
  line-height: 64px;
  font-weight: 600;
}

.project-work-demo-title p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.project-work-demo-title a {
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  padding: 18px 0px;
  width: 167px;
  border-radius: 16px;
  text-decoration: none;
  cursor: pointer;
}

.project-work-demo-img {
  height: 679px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.project-work-takeaways-container {
  width: 976px;
  margin-bottom: 80px;
}

.project-work-takeaways-title {
  width: 296px;
}

.project-work-takeaways-p {
  width: 592px;
}
/* Adjust the bullet styling */
.project-work-takeaways-p ul {
  padding-left: 0;
}

.project-work-takeaways-p li span {
  font-size: 18px;
  font-weight: bold;
  color: #5c7185;
}

.project-work-thanks-container {
  width: 1136px;
  background: #002c57;
  height: 504px;
  border-radius: 48px;
  padding: 140px 0;
  margin-bottom: 80px;
}

.project-work-thanks-container img {
  height: 104px;
  width: 104px;
  margin-bottom: 56px;
}

.project-work-thanks-container h6 {
  font-size: 48px;
  line-height: 64px;
  font-weight: 600;
}

.project-work-more-work {
  width: 976px;
}

.project-work-more-work h6:nth-child(1) {
  font-size: 32px;
  font-weight: 600;
  line-height: auto;
  margin-bottom: 40px;
}

.project-work-more-work-card-container {
  gap: 32px;
}

.project-work-more-work-card {
  width: 100%;
  min-height: 540px;
  border-radius: 32px;
}

.project-work-more-work-card-title {
  padding: 40px;
}

.project-work-more-work-card-title p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
}

.project-work-more-work-card-title h6 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 32px;
}

.seeWorkSecondaryBtn {
  padding: 14px 20px !important;
  background: transparent !important;
  color: #002c57 !important;
  border-radius: 14px !important;
  border: 1px solid #dee3e9 !important;
  font-size: 14px !important;
  font-weight: 600;
  transition: ease-in-out 0.4s;
}

.seeWorkSecondaryBtn:hover {
  background: #eceff3 !important;
}

.seeWorkSecondaryBtn i:hover {
  color: #002c57 !important;
}

.project-work-more-work-card-img img {
  height: 279px;
  /* padding: 0.35rem 0; */
}

/* footer */
.footer-section {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden !important;
}
.footer3-container {
  height: 448px;
  width: 1136px;
  border-radius: 48px;
  padding: 100px 0;
  background: #f2f4f7;
}

.footer3-container h6 {
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}

.footer3-container p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  width: 534px;
  margin-bottom: 48px;
}

.footerPrimaryBtn {
  padding: 18px 24px !important;
  background: #0073e6 !important;
  color: #fff !important;
  border-radius: 16px !important;
  border: 1px solid #0073e6 !important;
  font-size: 16px !important;
  font-weight: 600;
  transition: ease-in-out 0.4s;
}
.footerPrimaryBtn:hover {
  background: #0b5ed7 !important;
}

.rights-section {
  height: 96.92px;
  padding: 24px 0;
  overflow: hidden !important;
}

.rights-section-container {
  width: 1136px;
}

.rights-section p {
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  bottom: -15px;
}

.footer-icons {
  gap: 25px;
}

/* about me  */
.about-me-section {
  margin-top: 80px;
  padding-left: 24px;
  padding-right: 24px;
  overflow: hidden !important;
}

.about-me-container {
  min-height: 90vh !important;
  background: linear-gradient(to bottom, #edf1f6 15%, #ffffff 40%);
  border-radius: 48px;
  position: relative;
}

.about-me-container {
  height: 100%;
  width: 100%;
}

.about-me-card {
  width: 975px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.about-me-card h6 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
  margin-bottom: 24px;
}

.about-me-card p {
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  margin-bottom: 40px;
}

.about-me-btn {
  gap: 16px;
}

.about-me-primaryBtn {
  width: 142px;
  height: 56px;
  background: #0073e6;
  color: #fff;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 600;
  transition: ease-in-out 0.4s;
}

.about-me-primaryBtn:hover {
  background: #0b5ed7;
  color: #fff;
}

.about-me-secondaryBtn {
  width: 153px;
  height: 56px;
  color: #002c57;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #dee3e9 !important;
  background: #fff;
  transition: ease-in-out 0.4s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about-me-secondaryBtn:hover {
  background: #eceff3 !important;
  color: #002c57;
}

.my-journey-container {
  min-height: 100vh;
}

.my-journey-card {
  width: 976px;
}

.my-journey-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 72px;
}

.my-journey-sentence {
  margin-bottom: 56px;
}

.my-journey-sentence h6 {
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 16px;
}

.my-journey-sentence p {
  font-weight: 18px;
  line-height: 28px;
  font-weight: 400;
  font-size: 18px;
}
