* {
  font-family: "Inter" sans-serif;
}

/* Apply to all elements */
* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 transparent; /* For Firefox */
}

/* For WebKit browsers like Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1px;
  height: 1px; /* For horizontal scrollbar */
}

*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px; /* Optional: Makes the scrollbar thumb rounded */
}

*::-webkit-scrollbar-track {
  background: transparent; /* Optional: Background of the scrollbar track */
}

body {
  background: #fff !important;
}

.navbar-container {
  padding: 0 32px;
}

.contactBtn {
  border-radius: 16px;
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 600;
  /* height: 48px !important; */
}

.custom-border-outline:hover {
  color: #fff !important;
}

/* navbar */
.sidebar {
  position: fixed;
  right: -100vw; /* Hide sidebar off-screen */
  top: 0;
  width: 100vw;
  height: 100%;
  background: transparent !important;
  transition: right 0.3s ease;
  z-index: 200;
  display: none !important;
}
.sidebar.active {
  right: 0; /* Show sidebar */
}

.nav-link:hover {
  color: #333 !important;
}

/* .showcase-container-first {
  margin-top: -10rem;
} */

/* .showcase-section {
  overflow: hidden !important;
  padding: 0 30px !important;
} */

.project-section {
  padding-left: 24px;
  padding-right: 24px;
  overflow: hidden !important;
}

.container-90 {
  width: 100%;
  margin: 0 auto;
}

/* about */
.about-section {
  background: #f2f4f8 !important;
}

/* footer */
.footer-rights {
  margin-left: 0px !important;
}

/* neww update 3-8-25 */
/* custom paddings */
.custom-padding-p {
  padding: 0 10rem;
}

/* Hero Section */
.hero-section {
  padding: 0 30px;
}

/* Hero Container */
.hero-container {
  min-height: 80vh !important;
  background: linear-gradient(to bottom, #eff3f7, #ffffff);
  border-radius: 56px;
  position: relative;
}

/* Hero Icons */
.hero-icons {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-icon {
  display: inline-block;
  max-width: 80px;
  position: absolute;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* Positioning Hero Icons */
.hero-icon-1 {
  left: 10%;
  top: 18%;
  transform: translateY(-50%);
}

.hero-icon-2 {
  right: 10%;
  top: 18%;
  transform: translateY(-50%);
}

.hero-icon-3 {
  left: 20%;
  top: 58%;
  transform: translateX(-50%);
}

.hero-icon-4 {
  right: 20%;
  top: 58%;
  transform: translateX(50%);
}

/* Hoverable Text */
.hoverable-text {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.hoverable-text:hover {
  color: #1f75fe; /* Light blue hover */
}

.hoverable-text.active {
  font-weight: 700;
  color: #0047ab !important; /* Deep blue when active */
}

.hero-btn {
  padding: 22px 32px;
}

/* footer2  */
.footer-container {
  min-height: 580px !important;
}

.rounded-4 {
  border-radius: 1rem !important;
}

/* Optional hover effects for social icons */
.bx {
  transition: color 0.3s ease;
}

.bx:hover {
  color: #0d6efd !important;
}

.custom-padding-footer-p {
  max-width: 764px !important;
}

.footer-link:hover {
  color: black !important;
}

.project-card {
  padding: 0 150px !important;
}

.responsive-h {
  color: #00274d !important;
  font-weight: 600 !important;
}
