@media screen and (max-width: 1240px) {
  /* hero */
  .hero-h-container {
    justify-content: center !important;
  }
  .hero-h {
    font-size: 58px !important;
  }

  .hero-p {
    font-size: 21px !important;
  }

  .primaryBtn,
  .secondaryBtn {
    padding: 17px 27px !important;
  }

  /* selected works */
  .selected-works-container {
    width: 976px !important;
  }

  .selected-works-h {
    font-size: 41px !important;
  }

  .selected-works-p {
    font-size: 18px !important;
  }

  .selected-work-card-title {
    font-size: 32px !important;
  }

  .work-img-container:nth-child(1) {
    width: 528px;
    min-height: 460px;
    margin-right: 60px;
    border-radius: 48px;
    padding: 10px;
  }

  .work-img-container:nth-child(2) {
    width: 528px;
    min-height: 460px;
    margin-left: 60px;
    border-radius: 48px;
    padding: 10px;
  }

  .work-img-container3 {
    width: 528px;
    min-height: 460px;
    margin-right: 60px;
    border-radius: 48px;
    background: #e2f1de !important;
  }

  .work-img-container {
    margin: 0 !important;
  }
}

@media screen and (max-width: 1240px) {
  /* selected works */
  .selected-works-container {
    width: 976px !important;
    /* background: red !important; */
  }

  .selected-works-h {
    font-size: 37px !important;
  }

  .selected-works-p {
    font-size: 16px !important;
  }

  .selected-work-card-tags {
    font-size: 14px !important;
  }

  .selected-work-card-title {
    font-size: 30px !important;
    line-height: 43px !important;
  }

  .work-img-container:nth-child(1) {
    width: 528px !important;
    min-height: 460px !important;
    margin-right: 45px !important;
    border-radius: 48px !important;
    padding: 10px !important;
  }

  .work-img-container:nth-child(2) {
    width: 528px !important;
    min-height: 460px !important;
    margin-left: 45px !important;
    border-radius: 48px !important;
    padding: 10px !important;
  }

  .work-img-container3 {
    width: 528px !important;
    min-height: 460px !important;
    margin-right: 45px !important;
    border-radius: 48px !important;
    background: #e2f1de !important;
  }
}

@media screen and (max-width: 1040px) {
  /* hero */
  .hero-card {
    width: 856px !important;
  }
  .hero-h-container {
    justify-content: center !important;
    margin-bottom: 26px !important;
  }

  .hero-p-container {
    margin-bottom: 36px !important;
  }

  .hero-h {
    font-size: 50px !important;
  }

  .hero-p {
    font-size: 18px !important;
  }

  .primaryBtn,
  .secondaryBtn {
    padding: 14px 24px !important;
  }

  /* selected works */
  .selected-works-container {
    width: 856px !important;
    /* background: red !important; */
  }

  .selected-works-h {
    font-size: 35px !important;
  }

  .selected-works-p {
    font-size: 16px !important;
  }

  .selected-work-card-tags {
    font-size: 14px !important;
  }

  .selected-work-card-title {
    font-size: 27px !important;
    line-height: 43px !important;
  }

  .work-img-container:nth-child(1) {
    width: 528px !important;
    min-height: 400px !important;
    margin-right: 45px !important;
    border-radius: 48px !important;
    padding: 10px !important;
  }

  .work-img-container:nth-child(2) {
    width: 528px !important;
    min-height: 400px !important;
    margin-left: 45px !important;
    border-radius: 48px !important;
    padding: 10px !important;
  }

  .work-img-container3 {
    width: 528px !important;
    min-height: 400px !important;
    margin-right: 45px !important;
    border-radius: 48px !important;
    background: #e2f1de !important;
  }
}

@media screen and (max-width: 940px) {
  /* selected works */
  .selected-works-container {
    width: 856px !important;
    /* background: red !important; */
  }

  .selected-works-container div:nth-child(1) {
    margin-bottom: 50px !important;
  }

  .work-container-cards {
    margin-bottom: 200px !important;
    padding: 30px !important;
  }

  .selected-works-h {
    font-size: 35px !important;
  }

  .selected-works-p {
    font-size: 16px !important;
  }

  .selected-work-card-tags {
    font-size: 14px !important;
  }

  .selected-work-card-title {
    font-size: 25px !important;
    line-height: 43px !important;
  }

  .work-img-container:nth-child(1) {
    width: 500px !important;
    min-height: 400px !important;
    margin-right: 40px !important;
    border-radius: 48px !important;
    padding: 10px !important;
  }

  .work-img-container:nth-child(2) {
    width: 500px !important;
    min-height: 400px !important;
    margin-left: 40px !important;
    border-radius: 48px !important;
    padding: 10px !important;
  }

  .work-img-container3 {
    width: 500px !important;
    min-height: 400px !important;
    margin-right: 40px !important;
    border-radius: 48px !important;
    background: #e2f1de !important;
  }
}

@media screen and (max-width: 888px) {
  /* hero */
  .hero-card {
    width: 700px !important;
  }
  .hero-h-container {
    justify-content: center !important;
    margin-bottom: 26px !important;
  }

  .hero-p-container {
    margin-bottom: 30px !important;
  }

  .hero-h {
    font-size: 46px !important;
    line-height: 110% !important;
  }

  .hero-p {
    font-size: 16px !important;
    line-height: 28px !important;
  }

  .primaryBtn,
  .secondaryBtn {
    padding: 14px 24px !important;
  }

  /* selected works */
  .selected-works-container {
    width: 700px !important;
    /* background: red !important; */
  }

  .selected-works-container div:nth-child(1) {
    margin-bottom: 50px !important;
  }

  .work-container-cards {
    margin-bottom: 200px !important;
    padding: 0px !important;
  }

  .selected-works-h {
    font-size: 30px !important;
  }

  .selected-works-p {
    font-size: 15px !important;
  }

  .selected-work-card-tags {
    font-size: 14px !important;
  }

  .selected-work-card-title {
    font-size: 22px !important;
    line-height: 37px !important;
  }

  .work-img-container:nth-child(1) {
    width: 500px !important;
    min-height: 400px !important;
    margin-right: 25px !important;
    border-radius: 48px !important;
    padding: 10px !important;
  }

  .work-img-container:nth-child(2) {
    width: 500px !important;
    min-height: 400px !important;
    margin-left: 25px !important;
    border-radius: 48px !important;
    padding: 10px !important;
  }

  .work-img-container3 {
    width: 500px !important;
    min-height: 400px !important;
    margin-right: 25px !important;
    border-radius: 48px !important;
    background: #e2f1de !important;
  }
}

@media screen and (max-width: 800px) {
  /* hero */
  .hero-card {
    width: 620px !important;
  }
  .hero-h-container {
    justify-content: center !important;
    margin-bottom: 20px !important;
  }

  .hero-p-container {
    margin-bottom: 23px !important;
  }

  .hero-h {
    font-size: 43px !important;
    line-height: 110% !important;
  }

  .hero-p {
    font-size: 16px !important;
    line-height: 25px !important;
  }

  .primaryBtn,
  .secondaryBtn {
    padding: 12px 20px !important;
    font-size: 15px !important;
  }

  /* selected works */
  .selected-works-container {
    width: 100% !important;
    padding: 0 3rem !important;
    /* background: red !important; */
  }

  .selected-works-container-first-div {
    margin-bottom: 50px !important;
  }

  .selected-works-container div:nth-child(1) {
    margin-bottom: 0px !important;
  }

  .work-container-cards {
    margin-bottom: 0px !important;
    padding: 0px !important;
    flex-direction: column !important;
  }

  .work-container-cards:nth-child(3) {
    margin-bottom: 0px !important;
    padding: 0px !important;
    flex-direction: column-reverse !important;
  }

  .selected-works-h {
    font-size: 30px !important;
  }

  .selected-works-p {
    font-size: 15px !important;
  }

  .selected-work-card-tags {
    font-size: 14px !important;
  }

  .selected-work-card-title {
    font-size: 22px !important;
    line-height: 37px !important;
  }

  .work-img-container:nth-child(1) {
    width: 100% !important;
    min-height: 400px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 48px;
    padding: 10px !important;
    margin-top: 50px !important;
  }

  .work-img-container:nth-child(2) {
    width: 100% !important;
    min-height: 400px !important;
    margin-left: 0px !important;
    border-radius: 48px !important;
    margin-bottom: 0px !important;
    padding: 10px !important;
  }

  .work-img-container3 {
    width: 100% !important;
    min-height: 400px !important;
    margin-right: 0px !important;
    border-radius: 48px !important;
    background: #e2f1de !important;
    margin-bottom: 0px !important;
  }

  .work-text-container {
    height: none !important;
    width: 100% !important;
    padding: 0px 0px !important;
    margin-top: 2rem !important;
  }

  .selected-work-info {
    display: flex !important;
    flex-direction: column-reverse !important;
    text-align: center !important;
  }

  .selected-work-card-title-container {
    margin-bottom: 0px !important;
  }

  .selected-work-card-title {
    text-align: center !important;
  }

  .viewWorkSecondaryBtn {
    width: 100% !important;
  }
}

@media screen and (max-width: 700px) {
  /* hero */
  .hero-card {
    width: 530px !important;
  }
  .hero-h-container {
    justify-content: center !important;
    margin-bottom: 20px !important;
  }

  .hero-p-container {
    margin-bottom: 23px !important;
  }

  .hero-h {
    font-size: 41px !important;
    line-height: 110% !important;
  }

  .hero-p {
    font-size: 15px !important;
    line-height: 25px !important;
  }

  .primaryBtn,
  .secondaryBtn {
    padding: 12px 20px !important;
    font-size: 15px !important;
  }

  /* selected works */
  .selected-works-container {
    width: 100% !important;
    padding: 0 25px !important;
    /* background: red !important; */
  }
}

@media screen and (max-width: 640px) {
  /* hero */
  .hero-card {
    width: 500px !important;
  }
  .hero-h-container {
    justify-content: center !important;
    margin-bottom: 17px !important;
  }

  .hero-p-container {
    margin-bottom: 20px !important;
  }

  .hero-h {
    font-size: 38px !important;
    line-height: 110% !important;
  }

  .hero-p {
    font-size: 14px !important;
    line-height: 25px !important;
  }

  .primaryBtn,
  .secondaryBtn {
    padding: 12px 20px !important;
    font-size: 14px !important;
  }
}

@media screen and (max-width: 590px) {
  /* hero */
  .hero-container {
    padding: 0 15px !important;
  }
  .hero-card {
    width: 100% !important;
  }
  .hero-h-container {
    justify-content: center !important;
    margin-bottom: 17px !important;
    width: 100% !important;
  }

  .hero-p-container {
    margin-bottom: 20px !important;
  }

  .hero-h {
    font-size: 36px !important;
    line-height: 110% !important;
  }

  .hero-p {
    font-size: 14px !important;
    line-height: 25px !important;
  }

  .primaryBtn,
  .secondaryBtn {
    padding: 12px 20px !important;
    font-size: 14px !important;
  }
}
