@media screen and (max-width: 1240px) {
  /* hero */
  .hero-h-container {
    justify-content: center !important;
  }
  .hero-h {
    font-size: 58px !important;
  }

  .hero-p {
    font-size: 21px !important;
  }

  .primaryBtn,
  .secondaryBtn {
    padding: 17px 27px !important;
  }

  /* selected works */
  .selected-works-container {
    width: 976px !important;
  }

  .selected-works-h {
    font-size: 41px !important;
  }

  .selected-works-p {
    font-size: 18px !important;
  }

  .selected-work-card-title {
    font-size: 32px !important;
  }

  .work-img-container:nth-child(1) {
    width: 528px;
    min-height: 460px;
    margin-right: 60px;
    border-radius: 48px;
    padding: 10px;
  }

  .work-img-container:nth-child(2) {
    width: 528px;
    min-height: 460px;
    margin-left: 60px;
    border-radius: 48px;
    padding: 10px;
  }

  .work-img-container3 {
    width: 528px;
    min-height: 460px;
    margin-right: 60px;
    border-radius: 48px;
    background: #e2f1de !important;
  }

  .work-img-container {
    margin: 0 !important;
  }

  .project-container {
    padding: 80px 80px !important;
  }

  .project-work-card {
    width: 100% !important;
  }

  .project-work-title-card {
    width: 100% !important;
  }

  .project-work-documentation {
    padding: 80px 80px !important;
  }
  .project-work-responsive-container {
    width: 100% !important;
  }

  .project-work-requirements-container {
    padding: 80px 40px !important;
  }

  .project-work-demo {
    gap: 30px !important;
  }

  .project-work-demo-title h6 {
    font-size: 40px !important;
  }

  .project-work-demo-title p {
    font-size: 18px !important;
  }

  .project-work-demo-img img {
    height: 100% !important;
  }
}

@media screen and (max-width: 1240px) {
  /* selected works */
  .selected-works-container {
    width: 976px !important;
    /* background: red !important; */
  }

  .selected-works-h {
    font-size: 37px !important;
  }

  .selected-works-p {
    font-size: 16px !important;
  }

  .selected-work-card-tags {
    font-size: 14px !important;
  }

  .selected-work-card-title {
    font-size: 30px !important;
    line-height: 43px !important;
  }

  .work-img-container:nth-child(1) {
    width: 528px !important;
    min-height: 460px !important;
    margin-right: 45px !important;
    border-radius: 48px !important;
    padding: 10px !important;
  }

  .work-img-container:nth-child(2) {
    width: 528px !important;
    min-height: 460px !important;
    margin-left: 45px !important;
    border-radius: 48px !important;
    padding: 10px !important;
  }

  .work-img-container3 {
    width: 528px !important;
    min-height: 460px !important;
    margin-right: 45px !important;
    border-radius: 48px !important;
    background: #e2f1de !important;
  }

  /* about */

  .about-me-showcase {
    padding: 0 80px !important;
    /* border: 1px solid red !important; */
  }
}

@media screen and (max-width: 1180px) {
  /* footer */
  .footer-section {
    padding: 0 80px;
  }
  .footer3-container {
    width: 100% !important;
  }

  .rights-section {
    padding: 24px 80px !important;
  }
  .rights-section-container {
    width: 100% !important;
  }
}

@media screen and (max-width: 1100px) {
  .project-work-title-card h6 {
    font-size: 43px !important;
    line-height: 54px !important;
  }

  .project-work-title-card p {
    font-size: 18px !important;
    line-height: 30px !important;
  }

  .project-work-overview p {
    font-size: 14px !important;
  }
  .project-work-overview h6 {
    font-size: 15px !important;
  }

  .project-work-overview {
    padding: 30px 20px !important;
  }

  .project-work-demo {
    gap: 30px !important;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 0px;
  }

  .project-work-demo-title h6 {
    font-size: 32px !important;
  }

  .project-work-demo-title p {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 1040px) {
  /* hero */
  .hero-card {
    width: 856px !important;
  }
  .hero-h-container {
    justify-content: center !important;
    margin-bottom: 26px !important;
  }

  .hero-p-container {
    margin-bottom: 36px !important;
  }

  .hero-h {
    font-size: 50px !important;
  }

  .hero-p {
    font-size: 18px !important;
  }

  .primaryBtn,
  .secondaryBtn {
    padding: 14px 24px !important;
  }

  /* selected works */
  .selected-works-container {
    width: 856px !important;
    /* background: red !important; */
  }

  .selected-works-h {
    font-size: 35px !important;
  }

  .selected-works-p {
    font-size: 16px !important;
  }

  .selected-work-card-tags {
    font-size: 14px !important;
  }

  .selected-work-card-title {
    font-size: 27px !important;
    line-height: 43px !important;
  }

  .work-img-container:nth-child(1) {
    width: 528px !important;
    min-height: 400px !important;
    margin-right: 45px !important;
    border-radius: 48px !important;
    padding: 10px !important;
  }

  .work-img-container:nth-child(2) {
    width: 528px !important;
    min-height: 400px !important;
    margin-left: 45px !important;
    border-radius: 48px !important;
    padding: 10px !important;
  }

  .work-img-container3 {
    width: 528px !important;
    min-height: 400px !important;
    margin-right: 45px !important;
    border-radius: 48px !important;
    background: #e2f1de !important;
  }

  /* footer */
  .footer3-container h6 {
    font-size: 40px !important;
  }

  .footer3-container p {
    font-size: 16px !important;
  }

  /* view work */
  /* .project-work-title-card h6 {
    font-size: ;
  } */
}

@media screen and (max-width: 991px) {
  .blue-white-card {
    flex-direction: column !important;
  }

  .project-work-demo {
    gap: 20px !important;
    padding: 40px !important;
    flex-direction: column-reverse !important;
  }

  .project-work-demo-img {
    width: 100% !important;
    padding: 0 !important;
    border-radius: 0 !important;

    box-shadow: none !important;
    height: auto !important;
    max-height: 600px !important;
  }

  .project-work-demo-title {
    width: 100% !important;
  }

  .project-work-demo-title h6 {
    font-size: 32px !important;
    text-align: start !important;
  }

  .project-work-demo-title p {
    font-size: 16px !important;
    text-align: start !important;
  }

  .project-work-demo-title a {
    width: 100% !important;
  }

  .project-work-thanks-container h6 {
    font-size: 40px !important;
  }

  .project-work-thanks-container img {
    height: 80px;
    width: 80px;
    margin-bottom: 56px;
  }

  .project-work-more-work-card-container {
    flex-direction: column !important;
  }

  .project-work-more-work-card-img {
    justify-content: center !important;
    align-items: center !important;
    max-width: 100% !important;
    max-height: 100% !important;
    padding: 1rem !important;
  }

  .project-work-more-work-card-img img,
  picture,
  source {
    /* max-height: 100% !important; */
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    height: 100% !important;
  }

  .project-work-more-work-card-container button {
    width: 100% !important;
  }

  /* about-me */
  .about-me-showcase {
    padding: 0 0 !important;
    /* border: 1px solid red !important; */
  }

  .about-me-card {
    width: 100% !important;
    padding: 0px !important;
    display: flex !important;
    flex-direction: column-reverse !important;
    gap: 10px !important;
    text-align: center !important;
  }

  .about-me-card img {
    width: 100% !important;
  }

  .about-me-card p {
    text-align: center !important;
    font-size: 16px !important;
    line-height: 28px !important;
  }

  .about-me-btn {
    align-items: center !important;
    justify-content: center !important;
  }

  .my-journey-container {
    margin-top: 5rem !important;
    padding: 0 18px !important;
  }

  .my-journey-title {
    text-align: center !important;
  }

  .my-journey-container p {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 940px) {
  /* selected works */
  .selected-works-container {
    width: 856px !important;
    /* background: red !important; */
  }

  .selected-works-container div:nth-child(1) {
    margin-bottom: 50px !important;
  }

  .work-container-cards {
    margin-bottom: 200px !important;
    padding: 30px !important;
  }

  .selected-works-h {
    font-size: 35px !important;
  }

  .selected-works-p {
    font-size: 16px !important;
  }

  .selected-work-card-tags {
    font-size: 14px !important;
  }

  .selected-work-card-title {
    font-size: 25px !important;
    line-height: 43px !important;
  }

  .work-img-container:nth-child(1) {
    width: 500px !important;
    min-height: 400px !important;
    margin-right: 40px !important;
    border-radius: 48px !important;
    padding: 10px !important;
  }

  .work-img-container:nth-child(2) {
    width: 500px !important;
    min-height: 400px !important;
    margin-left: 40px !important;
    border-radius: 48px !important;
    padding: 10px !important;
  }

  .work-img-container3 {
    width: 500px !important;
    min-height: 400px !important;
    margin-right: 40px !important;
    border-radius: 48px !important;
    background: #e2f1de !important;
  }

  .project-work-title-card h6 {
    font-size: 40px !important;
    line-height: 49px !important;
  }

  .project-work-title-card p {
    font-size: 16px !important;
    line-height: 28px !important;
  }

  .h6-flex-responsive {
    font-size: 23px !important;
  }

  .project-work-show-title {
    width: 100% !important;
  }

  .project-work-overview {
    padding: 30px 10px !important;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important; /* 3 equal columns */
    grid-gap: 20px !important; /* spacing between items */
  }

  /* For the first 3 items */
  .project-work-overview > div:nth-child(1),
  .project-work-overview > div:nth-child(2),
  .project-work-overview > div:nth-child(3) {
    grid-row: 1 !important; /* all in first row */
  }

  /* For the last 2 items */
  .project-work-overview > div:nth-child(4),
  .project-work-overview > div:nth-child(5) {
    grid-row: 2 !important; /* both in second row */
    grid-column: span 1.5 !important; /* each spans 1.5 columns to center them */
  }

  .project-work-demo-title h6 {
    font-size: 24px !important;
    text-align: start !important;
    line-height: 35px !important;
  }

  .project-work-demo-title p {
    font-size: 16px !important;
    text-align: start !important;
  }

  .project-work-demo-title a {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 888px) {
  /* hero */
  .hero-card {
    width: 700px !important;
  }
  .hero-h-container {
    justify-content: center !important;
    margin-bottom: 26px !important;
  }

  .hero-p-container {
    margin-bottom: 30px !important;
  }

  .hero-p-container p {
    text-align: center !important;
  }

  .hero-h {
    font-size: 46px !important;
    line-height: 110% !important;
  }

  .hero-p {
    font-size: 16px !important;
    line-height: 28px !important;
  }

  .primaryBtn,
  .secondaryBtn {
    padding: 14px 24px !important;
  }

  /* selected works */
  .selected-works-container {
    width: 700px !important;
    /* background: red !important; */
  }

  .selected-works-container div:nth-child(1) {
    margin-bottom: 50px !important;
  }

  .work-container-cards {
    margin-bottom: 200px !important;
    padding: 0px !important;
  }

  .selected-works-h {
    font-size: 30px !important;
  }

  .selected-works-p {
    font-size: 15px !important;
  }

  .selected-work-card-tags {
    font-size: 14px !important;
  }

  .selected-work-card-title {
    font-size: 22px !important;
    line-height: 37px !important;
  }

  .work-img-container:nth-child(1) {
    width: 500px !important;
    min-height: 400px !important;
    margin-right: 25px !important;
    border-radius: 48px !important;
    padding: 10px !important;
  }

  .work-img-container:nth-child(2) {
    width: 500px !important;
    min-height: 400px !important;
    margin-left: 25px !important;
    border-radius: 48px !important;
    padding: 10px !important;
  }

  .work-img-container3 {
    width: 500px !important;
    min-height: 400px !important;
    margin-right: 25px !important;
    border-radius: 48px !important;
    background: #e2f1de !important;
  }

  /* footer */
  .footer3-container h6 {
    font-size: 38px !important;
  }

  .footer3-container p {
    font-size: 16px !important;
  }

  .footer3-container span {
    font-size: 16px;
  }
  .footerPrimaryBtn {
    padding: 16px 24px !important;
  }
}

@media screen and (max-width: 800px) {
  /* hero */
  .hero-card {
    width: 620px !important;
  }
  .hero-h-container {
    justify-content: center !important;
    margin-bottom: 20px !important;
  }

  .hero-p-container {
    margin-bottom: 23px !important;
  }

  .hero-h {
    font-size: 43px !important;
    line-height: 110% !important;
  }

  .hero-p {
    font-size: 16px !important;
    line-height: 25px !important;
  }

  .primaryBtn,
  .secondaryBtn {
    padding: 12px 20px !important;
    font-size: 15px !important;
  }

  /* selected works */
  .selected-works-container {
    width: 100% !important;
    padding: 0 3rem !important;
    /* background: red !important; */
  }

  .selected-works-container-first-div {
    margin-bottom: 50px !important;
  }

  .selected-works-container div:nth-child(1) {
    margin-bottom: 0px !important;
  }

  .work-container-cards {
    margin-bottom: 0px !important;
    padding: 0px !important;
    flex-direction: column !important;
  }

  .work-container-cards:nth-child(3) {
    margin-bottom: 0px !important;
    padding: 0px !important;
    flex-direction: column-reverse !important;
  }

  .selected-works-h {
    font-size: 30px !important;
  }

  .selected-works-p {
    font-size: 15px !important;
  }

  .selected-work-card-tags {
    font-size: 14px !important;
    margin-bottom: 5px !important;
  }

  .selected-work-card-title {
    font-size: 22px !important;
    line-height: 37px !important;
    /* margin-bottom: 1.5rem !important; */
  }

  .work-img-container:nth-child(1) {
    width: 100% !important;
    min-height: 400px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 48px;
    padding: 10px !important;
    margin-top: 50px !important;
  }

  .work-img-container:nth-child(2) {
    width: 100% !important;
    min-height: 400px !important;
    margin-left: 0px !important;
    border-radius: 48px !important;
    margin-bottom: 0px !important;
    padding: 10px !important;
  }

  .work-img-container3 {
    width: 100% !important;
    min-height: 400px !important;
    margin-right: 0px !important;
    border-radius: 48px !important;
    background: #e2f1de !important;
    margin-bottom: 0px !important;
  }

  .work-text-container {
    height: none !important;
    width: 100% !important;
    padding: 0px 0px !important;
    margin-top: 2rem !important;
  }

  /* .selected-work-info {
    display: flex !important;
    flex-direction: column-reverse !important;
    text-align: center !important;
  } */

  .selected-work-card-title-container {
    margin-bottom: 0px !important;
  }

  .selected-work-card-title {
    /* text-align: center !important; */
  }

  .viewWorkSecondaryBtn {
    width: 100% !important;
  }

  /* footer */
  .footer-section {
    padding: 0 3rem;
  }
  .footer3-container {
    width: 100% !important;
  }

  .rights-section {
    padding: 24px 3rem !important;
  }
  .rights-section-container {
    width: 100% !important;
  }

  /* view work */
  .project-container {
    padding: 80px 5px !important;
  }

  .project-work-title-card {
    padding: 0 10px !important;
  }

  .project-work-documentation {
    padding: 80px 5px !important;
  }

  .project-work-title-card h6 {
    font-size: 37px !important;
    line-height: 46px !important;
  }

  .project-work-title-card p {
    font-size: 16px !important;
    line-height: 28px !important;
  }

  .project-work-img-container img {
    overflow: auto !important;
  }

  .border-radius-responsive {
    border-radius: 40px !important;
  }
}

@media screen and (max-width: 700px) {
  /* hero */
  .hero-card {
    width: 530px !important;
  }
  .hero-h-container {
    justify-content: center !important;
    margin-bottom: 20px !important;
  }

  .hero-p-container {
    margin-bottom: 23px !important;
  }

  .hero-h {
    font-size: 41px !important;
    line-height: 110% !important;
  }

  .hero-p {
    font-size: 15px !important;
    line-height: 25px !important;
  }

  .primaryBtn,
  .secondaryBtn {
    padding: 12px 20px !important;
    font-size: 15px !important;
  }

  /* selected works */
  .selected-works-container {
    width: 100% !important;
    padding: 0 25px !important;
    /* background: red !important; */
  }

  /* footer */
  .footer-section {
    padding: 0 25px;
  }

  .footer3-container h6 {
    font-size: 33px !important;
    margin-bottom: 1rem !important;
  }

  .footer3-container p {
    font-size: 15px !important;
  }

  .footer3-container span {
    font-size: 15px;
  }
  .footerPrimaryBtn {
    padding: 15px 24px !important;
  }

  .rights-section {
    padding: 24px 25px !important;
  }
  .rights-section-container {
    width: 100% !important;
  }
  .footer3-email-container {
    padding: 0 !important;
    width: 95% !important;
    flex-direction: column !important;
    gap: 1rem !important;
  }
  .footer3-email-container-span {
    width: 100% !important;
    justify-content: center !important;
    font-size: 16px !important;
  }

  .footerPrimaryBtn {
    font-size: 16px !important;
    width: 100% !important;
  }

  /* view work */
  .project-container {
    padding: 80px 5px !important;
  }

  .project-work-documentation {
    padding: 80px 5px !important;
  }

  .project-work-title-card h6 {
    font-size: 34px !important;
    line-height: 42px !important;
  }

  .project-work-title-card p {
    font-size: 16px !important;
    line-height: 28px !important;
  }

  .h6-flex-responsive {
    font-size: 21px !important;
  }

  .project-work-responsive-container p {
    font-size: 14px !important;
  }

  .border-radius-responsive {
    border-radius: 32px !important;
  }

  .project-work-thanks-container h6 {
    font-size: 32px !important;
  }

  .project-work-thanks-container img {
    height: 70px;
    width: 70px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 640px) {
  /* hero */
  .hero-card {
    width: 500px !important;
  }
  .hero-h-container {
    justify-content: center !important;
    margin-bottom: 17px !important;
  }

  .hero-p-container {
    margin-bottom: 20px !important;
  }

  .hero-h {
    font-size: 38px !important;
    line-height: 110% !important;
  }

  .hero-p {
    font-size: 14px !important;
    line-height: 25px !important;
  }

  .primaryBtn,
  .secondaryBtn {
    padding: 12px 20px !important;
    font-size: 14px !important;
  }

  /* footer */
  .footer3-container {
    padding: 2rem !important;
  }

  .footer3-container h6 {
    font-size: 30px !important;
    margin-bottom: 1.5rem !important;
    line-height: 40px;
    text-align: center;
  }

  .footer3-container p {
    width: 100% !important;
    text-align: center;
    line-height: 23px;
  }

  .project-work-show-img-responsive {
    gap: 10px !important;
  }

  /* .project-work-show-img-responsive img {
    max-height: 300px !important;
  } */

  .project-work-break-container {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
  }

  .project-work-break-container div {
    width: 100% !important;
  }

  .project-work-break-container h6,
  p {
    text-align: start !important;
  }

  .project-work-requirements-container {
    padding: 60px 30px !important;
  }

  .border-radius-responsive {
    border-radius: 28px !important;
  }

  .project-work-demo {
    gap: 20px !important;
    padding: 40px !important;
    flex-direction: column-reverse !important;
  }

  .project-work-demo-img {
    width: 100% !important;
    padding: 0 !important;
    border-radius: 0 !important;

    box-shadow: none !important;
    height: auto !important;
    max-height: 600px !important;
  }

  .footer3-email-container {
    padding: 0 !important;
    width: 100% !important;
    flex-direction: column !important;
    gap: 1rem !important;
  }
  .footer3-email-container-span {
    width: 100% !important;
    justify-content: center !important;
    font-size: 16px !important;
  }
}

@media screen and (max-width: 590px) {
  /* hero */
  .hero-container {
    padding: 0 15px !important;
  }
  .hero-card {
    width: 100% !important;
  }
  .hero-h-container {
    justify-content: center !important;
    margin-bottom: 17px !important;
    width: 100% !important;
  }

  .hero-p-container {
    margin-bottom: 20px !important;
  }

  .hero-h {
    font-size: 36px !important;
    line-height: 110% !important;
  }

  .hero-p {
    font-size: 14px !important;
    line-height: 25px !important;
  }

  .primaryBtn,
  .secondaryBtn {
    padding: 12px 20px !important;
    font-size: 14px !important;
  }

  /* viewww works */
  .project-container {
    padding: 40px 5px !important;
  }

  .project-work-title-card h6 {
    font-size: 32px !important;
    line-height: 42px !important;
  }

  .project-work-title-card p {
    font-size: 14px !important;
    line-height: 23px !important;
  }

  .project-work-requirements-container {
    padding: 60px 18px !important;
  }

  .project-work-thanks-container h6 {
    font-size: 23px !important;
  }

  .project-work-thanks-container img {
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
  }
}
