@media screen and (max-width: 1800px) {
  .work-showcase-container {
    padding: 80px 100px !important;
  }

  .footer3-container {
    margin-top: 0 !important;
    margin-top: 9rem !important;
  }

  .work-showcase-img {
    /* padding: 0px 0 0 0px; */
  }
}

@media screen and (max-width: 1700px) {
  .work-showcase-container {
    padding: 80px 100px !important;
  }

  .work-showcase-img {
    padding: 0 !important;
    padding: 0px 0 !important;
  }
}

@media screen and (max-width: 1600px) {
  .work-showcase-container {
    padding: 40px 85px !important;
  }

  .work-showcase-img {
    padding: 0 !important;
    padding: 40px 0px !important;
    /* border: 1px solid black; */
  }

  .work-h {
    font-size: 49px !important;
  }

  .work-p {
    font-size: 18px !important;
    line-height: 30px !important;
  }
}

@media screen and (max-width: 1546px) {
  .navbar-container a {
    font-size: 16px !important;
  }

  .hero-custom-padding {
    width: 65% !important;
  }

  .hero-custom-padding h6 {
    font-size: 53px !important;
  }

  .hero-custom-padding a {
    font-size: 16px;
  }

  /* .custom-padding-p {
    border: 1px solid red;
  } */

  .custom-padding-p {
    padding: 0 5rem;
  }

  .custom-padding-project-p {
    padding: 0 15rem;
  }

  .custom-padding-p p {
    font-size: 17px !important;
  }

  .hero-icon-1 {
    left: 6%;
    top: 16%;
  }

  .hero-icon-2 {
    right: 6%;
    top: 16%;
  }

  .hero-icon-3 {
    left: 13%;
    top: 55%;
  }

  .hero-icon-4 {
    right: 13%;
    top: 55%;
  }

  /* defaults */
  .responsive-h {
    font-size: 53px !important;
  }

  .responsive-p {
    font-size: 16px !important;
  }

  .project-card {
    padding: 0 80px !important;
  }

  .responsive-h-title {
    font-size: 43px !important;
  }

  /* works */

  .work-h {
    font-size: 41px !important;
  }

  .work-p {
    font-size: 16px !important;
    line-height: 28px !important;
  }

  .work-showcase-container {
    padding: 0 90px !important;
  }

  .work-showcase-img {
    padding: 0 !important;
    padding: 40px 0px !important;
    /* border: 1px solid black; */
  }

  /* footer */

  .footer3-container {
    margin-top: 12rem !important;
  }
}

@media screen and (max-width: 1440px) {
  .custom-padding-project-p {
    padding: 0 10rem;
  }

  .hero-custom-padding h6 {
    font-size: 50px !important;
  }

  .hero-icon-1 {
    left: 6%;
    top: 27%;
  }

  .hero-icon-2 {
    right: 6%;
    top: 27%;
  }

  .hero-icon-3 {
    left: 10%;
    top: 52%;
  }

  .hero-icon-4 {
    right: 10%;
    top: 52%;
  }

  /* defaults */
  .responsive-h {
    font-size: 50px !important;
  }

  .responsive-p {
    font-size: 16px !important;
  }

  .work-showcase-container {
    padding: 0 80px !important;
  }
}

@media screen and (max-width: 1314px) {
  .mobile-section-view {
    margin-top: 3rem !important;
  }
}

@media screen and (max-width: 1300px) {
  /* nav */
  .navbar-container a {
    font-size: 16px !important;
  }

  /* hero */
  .hero-custom-padding h6 {
    font-size: 47px !important;
  }

  .hero-icon-1 {
    left: 3%;
    top: 27%;
  }

  .hero-icon-2 {
    right: 3%;
    top: 27%;
  }

  .hero-icon-3 {
    left: 8.5%;
    top: 48%;
  }

  .hero-icon-4 {
    right: 8.5%;
    top: 48%;
  }

  /* defaults */
  .responsive-h {
    font-size: 47px !important;
  }

  .responsive-p {
    font-size: 16px !important;
  }

  .responsive-h-title {
    font-size: 38px !important;
  }

  /* works */
  .work-showcase-container {
    padding: 0 50px !important;
  }

  .work-showcase-img {
    padding: 0 !important;
    padding: 0px 0px !important;
    /* border: 1px solid black; */
  }

  .work-h {
    font-size: 37px !important;
  }

  .work-p {
    font-size: 16px !important;
    line-height: 28px !important;
  }

  .work-info-tab span,
  .work-info-tab p {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1200px) {
  /* hero */
  .hero-custom-padding h6 {
    font-size: 43px !important;
  }

  .hero-custom-padding a {
    font-size: 16px;
  }

  .custom-padding-p {
    padding: 0 2rem !important;
  }

  .custom-padding-p p {
    font-size: 16px !important;
  }

  .hero-icon-1 {
    left: 3%;
    top: 27%;
  }

  .hero-icon-2 {
    right: 3%;
    top: 27%;
  }

  .hero-icon-3 {
    left: 8.5%;
    top: 48%;
  }

  .hero-icon-4 {
    right: 8.5%;
    top: 48%;
  }

  /* defaults */
  .responsive-h {
    font-size: 43px !important;
  }

  .responsive-p {
    font-size: 16px !important;
  }

  .responsive-h-title {
    font-size: 33px !important;
  }

  /* works */
  .work-showcase-container {
    padding: 0 50px !important;
  }

  .work-showcase-img {
    padding: 0 !important;
    padding: 0px 0px !important;
    /* border: 1px solid black; */
  }

  .work-h {
    font-size: 37px !important;
  }

  .work-p {
    font-size: 16px !important;
    line-height: 28px !important;
  }

  .work-info-tab span,
  .work-info-tab p {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1100px) {
  /* hero */
  .hero-custom-padding h6 {
    font-size: 39px !important;
  }

  .hero-custom-padding a {
    font-size: 16px !important;
  }

  .custom-padding-p {
    padding: 0 9rem;
  }

  .custom-padding-p p {
    font-size: 16px !important;
  }

  .hero-icon-1 {
    left: 3%;
    top: 27%;
  }

  .hero-icon-2 {
    right: 3%;
    top: 27%;
  }

  .hero-icon-3 {
    left: 8.5%;
    top: 48%;
  }

  .hero-icon-4 {
    right: 8.5%;
    top: 48%;
  }

  /* defaults */
  .responsive-h {
    font-size: 39px !important;
  }

  .responsive-p {
    font-size: 16px !important;
  }

  /* works */
  /* works */
  .work-showcase-container {
    padding: 0 40px !important;
  }

  .work-showcase-img {
    padding: 0 !important;
    padding: 0px 0px !important;
    /* border: 1px solid black; */
  }

  .work-h {
    font-size: 34px !important;
  }

  .work-a {
    font-size: 15px !important;
  }

  .work-p {
    font-size: 15px !important;
    line-height: 26px !important;
  }

  .work-info-tab span,
  .work-info-tab p {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1000px) {
  /* hero */
  .hero-custom-padding h6 {
    font-size: 39px !important;
  }

  .hero-custom-padding a {
    font-size: 16px !important;
  }

  .custom-padding-p {
    padding: 0 5rem;
  }

  .custom-padding-p p {
    font-size: 16px !important;
  }

  .hero-icon {
    max-width: 55px;
  }

  .hero-icon-1 {
    left: 3%;
    top: 30%;
  }

  .hero-icon-2 {
    right: 3%;
    top: 30%;
  }

  .hero-icon-3 {
    left: 7.5%;
    top: 48%;
  }

  .hero-icon-4 {
    right: 7.5%;
    top: 48%;
  }

  /* works */
  /* works */
  .work-showcase-container {
    padding: 0 25px !important;
  }

  .work-showcase-img {
    padding: 0 !important;
    padding: 0px 0px !important;
    /* border: 1px solid black; */
  }

  .work-h {
    font-size: 30px !important;
  }

  .work-a {
    font-size: 14px !important;
  }

  .work-p {
    font-size: 14px !important;
    line-height: 24px !important;
  }

  .work-info-tab span,
  .work-info-tab p {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 991px) {
  /* nav */
  .custom-logo-p {
    font-size: 19px !important;
    margin: 0 !important;
    margin: 0 5px !important;
  }

  .sidebar {
    display: block !important;
    /* background: #fff !important; */
  }

  .sidebar.active {
    background: #fff !important;
  }
  /* Add border when the navbarNav is expanded */
  .navbar-container {
    padding: 0px !important;
    padding: 5px 25px !important;
  }

  /* .collapse.show {
      background: #fff;
      margin-top: 10px;
      border-radius: 5px;
      border: 1px solid #ddd;
    }
    .collapse.show ul li:hover a {
      color: #0d6efd !important;
    }
  
    .collapse.show .contactBtn {
      margin-bottom: 10px !important;
    } */

  .showcase-section {
    padding: 0 !important;
    padding: 16px !important;
    margin-top: 30px !important;
  }

  .showcase-container {
    margin-top: 0;
    padding: 0 !important;
  }
  .showcase-img {
    width: 100%;
  }

  /* .mobile-section-view {
      margin-top: 5rem !important;
    } */

  /* .project-section {
      padding: 0 !important;
      padding: 16px !important;
    } */

  .project-desc {
    padding: 0 !important;
  }

  .project-container-img-container {
    padding: 0 !important;
  }

  .project-container a {
    width: 100% !important;
  }

  /* hero */
  .hero-section {
    padding: 0 20px !important;
  }

  /* work */
  /* .work-section {
    padding: 0 20px !important;
  } */
}

@media screen and (max-width: 950px) {
  /* hero */
  .hero-custom-padding h6 {
    font-size: 36px !important;
  }

  .hero-custom-padding a {
    font-size: 16px !important;
  }

  .custom-padding-p {
    padding: 0 4.8rem;
  }

  .custom-padding-p p {
    font-size: 16px !important;
  }

  .hero-icon {
    max-width: 50px;
  }

  .hero-icon-1 {
    left: 3.5%;
    top: 30%;
  }

  .hero-icon-2 {
    right: 3.5%;
    top: 30%;
  }

  .hero-icon-3 {
    left: 6.5%;
    top: 48%;
  }

  .hero-icon-4 {
    right: 6.5%;
    top: 48%;
  }

  /* defaults */
  .responsive-h {
    font-size: 36px !important;
  }

  .responsive-p {
    font-size: 16px !important;
  }

  /* works */
  /* works */
  .work-showcase-container {
    padding: 0 25px !important;
    margin-top: 16px !important;
  }

  .work-showcase-img {
    padding: 0 !important;
    padding: 0px 0px !important;
    /* border: 1px solid black; */
  }

  .work-a {
    font-size: 14px !important;
    margin-bottom: 16px !important;
  }

  .work-h {
    font-size: 30px !important;
    margin-bottom: 16px !important;
  }

  .work-p {
    font-size: 14px !important;
    line-height: 24px !important;
    margin-bottom: 40px !important;
  }

  .work-info-tab span,
  .work-info-tab p {
    font-size: 12px !important;
  }

  .custom-row {
    flex-direction: column;
  }

  .custom-col {
    width: 100%;
    padding: 10px 0;
  }

  .custom-padding-project-p {
    padding: 0 8rem;
  }
}

@media screen and (max-width: 888px) {
  /* hero */
  .hero-custom-padding {
    width: 90% !important;
  }

  .hero-custom-padding h6 {
    font-size: 30px !important;
  }

  .hero-custom-padding a {
    font-size: 15px !important;
  }

  .custom-padding-p {
    padding: 0 5rem !important;
  }

  .custom-padding-p p {
    font-size: 15px !important;
  }

  .hero-icon {
    max-width: 50px;
  }

  .hero-icon-1 {
    left: 1.5%;
    top: 25%;
  }

  .hero-icon-2 {
    right: 1.5%;
    top: 25%;
  }

  .hero-icon-3 {
    left: 6%;
    top: 48%;
  }

  .hero-icon-4 {
    right: 6%;
    top: 48%;
  }

  /* defaults */
  .responsive-h {
    font-size: 30px !important;
  }

  .responsive-p {
    font-size: 15px !important;
  }

  .responsive-h-title {
    font-size: 26px !important;
  }

  /* works */
  .work-showcase-container {
    padding: 0 30px !important;
  }

  .work-showcase-img {
    padding: 0 !important;
    padding: 40px 0px !important;
    /* border: 1px solid black; */
  }
}

@media screen and (max-width: 815px) {
  /* hero */
  .hero-custom-padding {
    width: 95% !important;
  }

  .hero-custom-padding h6 {
    font-size: 30px !important;
  }

  .hero-custom-padding a {
    font-size: 15px !important;
  }

  .custom-padding-p {
    padding: 0 4rem;
  }

  .custom-padding-p p {
    font-size: 15px !important;
  }

  .hero-icon {
    max-width: 50px;
  }

  .hero-icon-1 {
    left: 1%;
    top: 23%;
  }

  .hero-icon-2 {
    right: 1%;
    top: 23%;
  }

  .hero-icon-3 {
    left: 6%;
    top: 48%;
  }

  .hero-icon-4 {
    right: 6%;
    top: 48%;
  }
}

@media screen and (max-width: 800px) {
  .footer-logo {
    margin-right: 0 !important;
  }
  .footer-logo-name {
    margin: 0 !important;
    margin-left: 10px !important;
  }

  .footer-menu {
    flex-direction: column !important;
    justify-content: none !important;
    text-align: center !important;
  }
  .footer-menu-text {
    margin: 1rem 0 !important;
  }

  .footer-rights {
    margin-left: 0 !important;
    margin-top: 3rem !important;
  }

  [data-aos-sm] {
    opacity: 0 !important;
    transition-property: opacity, transform !important;
  }

  [data-aos-sm="fade-up"] {
    transform: translate3d(0, 100px, 0) !important;
  }

  [data-aos-sm].aos-animate {
    opacity: 1 !important;
    transform: translate3d(0, 0, 0) !important;
  }

  /* about me */
  .about-me-img {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 2rem;
  }
  .about-me-img img {
    padding: 0 !important;
  }

  /* hero section */
  .hero-container {
    border-top-right-radius: 36px;
    border-top-left-radius: 36px;
  }

  .about-me-container {
    border-top-right-radius: 36px;
    border-top-left-radius: 36px;
  }

  .work-container {
    border-top-right-radius: 36px;
    border-top-left-radius: 36px;
  }

  .hero-icon {
    display: none !important;
  }

  .hero-custom-padding {
    width: 90% !important;
  }

  .hero-custom-padding h6 {
    font-size: 30px !important;
  }

  .hero-custom-padding a {
    font-size: 15px !important;
  }

  .custom-padding-p {
    padding: 0 3rem;
  }

  /* defaults */
  .responsive-h {
    font-size: 30px !important;
  }

  .responsive-p {
    font-size: 15px !important;
  }

  .hero-btn {
    padding: 13px 25px;
  }

  /* .footer-tag-container .col-md-4 {
    text-align: center !important;
  } */

  .footer-tag-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 2rem !important;
    margin-bottom: 1rem !important;
  }

  .footer-tag-container .link-1-container a {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .footer-tag-container .col-md-4 .link-2-container {
    margin-left: 0 !important;
  }

  .footer-tag-container .col-md-4 .link-3-container {
    justify-content: center !important;
  }

  .footer-right1 {
    margin: 0 !important;
  }

  /* project */
  .project-card {
    padding: 0 50px !important;
  }

  .custom-padding-project-p {
    padding: 0 5rem;
  }

  * {
    overflow: visible !important;
  }
}

@media screen and (max-width: 700px) {
  /* Add border when the navbarNav is expanded */
  .showcase-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .showcase-btn button {
    width: 100%;
  }

  /* footer */
  .footer-lookingFor {
    font-size: 55px !important;
  }

  .about-me-img img {
    padding: 0 !important;
    /* width: 100% !important; */
  }

  .about-me-container {
    padding: 18px !important;
    margin-top: 2rem !important;
  }

  /* hero section */
  .hero-custom-padding {
    width: 90% !important;
  }

  .hero-custom-padding h6 {
    font-size: 28px !important;
  }

  .hero-custom-padding a {
    font-size: 14px !important;
  }

  .custom-padding-p {
    padding: 0 1rem !important;
  }

  .custom-padding-p p {
    font-size: 14px !important;
  }

  /* defaults */
  .responsive-h {
    font-size: 28px !important;
  }

  .responsive-p {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .responsive-h-title {
    font-size: 43px !important;
  }

  .responsive-h-title {
    font-size: 23px !important;
    margin-bottom: 1rem !important;
  }

  .work-showcase-container {
    padding: 0 28px !important;
  }

  .work-showcase-img {
    padding: 0 !important;
    padding: 0px 0px !important;
    /* border: 1px solid black; */
  }

  .work-p {
    font-size: 14px !important;
    line-height: 24px !important;
    margin-bottom: 20px !important;
  }

  .custom-padding-project-p {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 650px) {
  .footer-lookingFor {
    font-size: 43px !important;
  }
  .footer-text {
    width: 520px !important;
  }

  .footer-email-input {
    min-width: 250px !important;
    width: 250px !important;
  }

  .footer-email-input span {
    font-size: 14px !important;
  }
  .footer-email-input i {
    font-size: 12px !important;
  }

  /* project */
  .project-card {
    padding: 0 30px !important;
  }
}

@media screen and (max-width: 615px) {
  .footer-text {
    width: 480px !important;
  }

  /* hero section */
  .hero-custom-padding {
    width: 90% !important;
  }

  .hero-custom-padding h6 {
    font-size: 25px !important;
  }

  .hero-custom-padding a {
    font-size: 11px !important;
  }

  .custom-padding-p {
    padding: 0 1.1rem;
  }

  .custom-padding-p p {
    font-size: 11px !important;
  }

  .hero-custom-padding.contactBtn {
    width: 100% !important;
  }

  /* defaults */
  .responsive-h {
    font-size: 25px !important;
  }

  .responsive-p {
    font-size: 11px !important;
  }

  .hero-btn {
    padding: 13px 18px;
  }

  /* project */
  .project-card {
    padding: 0 20px !important;
  }

  .responsive-h-title {
    font-size: 20px !important;
  }

  .custom-padding-project-p {
    padding: 0 0rem;
  }
}

@media screen and (max-width: 570px) {
  .footer-lookingFor {
    font-size: 43px !important;
  }
  .footer-text {
    width: 350px !important;
  }

  .custom-padding-p {
    padding: 0 0rem;
  }
}
